# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.opendb

Thesis-Correspondence/v17
Thesis-Correspondence/out
Thesis-Correspondence/.vs
Thesis-Correspondence/libraries
Thesis-Correspondence/out/build


.vs/
